#toc-title{
  background-image: url("img/logo.png");
  background-position: top center;
  background-size: contain;
  color: white;
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  background-repeat: no-repeat;
}



